#app {
    font-family: 'Montserrat', sans-serif;
}

.router-link-exact-active {
    font-weight: bold;
}

.badge-success {
    background-color: #007BFF;
}

.card-product {
    border-radius: 10px;
}

.card-img-top {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.footer {
    background-color: #c7d3e1;
}

.w-25 {
    color: white;
}

.breadcrumb-item.active{
    font-weight: bold;
}

.img-fluid {
    border-radius: 10px;
}